<a href="https://colab.research.google.com/github/ShrutiPandey27/machine_learning_practice/blob/main/outlier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

agenda
1.feature enginnering

2.outlier

3.outlier detection and removal using std

4.deviation

5.what is z score

goals of feature engineering:


1.preparing input data set for algo

2.improve performance



**feature**:independent unit,analysis->prediction

*list of techniques used in feature engineering:* 


1.imputation:removing the null/missing values

2.handling outlier:detect outlier,visualization,statistical method (eg.:standard deviation,percentiler method)

3.log transformation

4.bining:prevent overfitting

5.one hot encoding

6.group by method

In [6]:
import pandas as pd
df=pd.read_csv("/heights.csv")
df.head()

     name  height
0  mohit      5.3
1  sakshi     5.2
2   arun      5.1
3  varun      4.9
4     ani     7.1

# detect outlier

In [7]:
max_threshold=df['height'].quantile(0.95)
max_threshold

7.4799999999999995

In [8]:
df[df['height']>max_threshold]

      name  height
11  ramesh     8.0

In [9]:
min_threshold=df['height'].quantile(0.05)
min_threshold

3.6050000000000004

In [10]:
df[df['height']<min_threshold]

   name  height
7  anil     1.2

In [11]:
#remove outlier
df[(df['height']<max_threshold) & (df['height']>min_threshold)]

      name  height
0   mohit      5.3
1   sakshi     5.2
2    arun      5.1
3   varun      4.9
4      ani     7.1
5    amit      6.4
6    amita     6.5
8   sudha      6.0
9      ram     5.1
10  kamal      5.6
12  lokesh     7.2
13   madhu     5.9